html {
  height: 100%;
  background: #26b777;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: white;
  height: 100vh;
}

.clock-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.humak-date {
  columns: block;
  font-size: 2rem;
}
.humak-time {
  columns: block;
  font-size: 3.5rem;
}